<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Quicksand:wght@300&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/014cb1d708.js"
      crossorigin="anonymous"
    ></script>
    <title><%=title%></title>
  </head>
  <body>
    <div class="mobile">
      <div id="pic1">
        <img src="/assets/images/img1.jpeg" alt="x" />
        <h1 style="color: black">Hi! I'm Vedant</h1>
      </div>
      <div class="content skills">
        <h3>Skills</h3>
        <ul>
          <li>
            <i class="fab fa-html5 fa-2x"></i>
            <span class="tec">&nbsp;HTML</span>
          </li>
          <li>
            <i class="fab fa-css3 fa-2x"></i><span class="tec">&nbsp;CSS</span>
          </li>
          <li>
            <i class="fab fa-js fa-2x"></i><span class="tec">&nbsp; JS</span>
          </li>
          <li>
            <i class="fas fa-code fa-2x"></i
            ><span class="tec">&nbsp;C++,Java,Python</span>
          </li>
        </ul>
      </div>
      <div class="content contact">
        <h3>Contact</h3>
        <ul>
          <li>
            <i class="fas fa-address-book fa-2x"></i
            ><span class="tec">&nbsp;7321836181</span>
          </li>
          <br />
          <li>
            <i class="fas fa-at fa-2x"></i>
            <span class="tec">&nbsp;vedantsagar12@gmail.com</span>
          </li>
        </ul>
      </div>
      <div class="content about">
        <h3>About</h3>
        <h5>
          As a teenager at school, I was the kid other students approached about
          issues with their phone or laptop. I was the go-to guy for fixing
          resolving any technical problems. Today, not much has changed. I’m
          still the first point of call for technical issues. The difference is
          I now wants to develop innovative software to solve the problems of
          multinational companies. Currently I'm Doing My BTECH in ECE and Also
          Pursuing Minor in CSE from BIRLA INSTITUTE OF TECHNOLOGY,MESRA.
        </h5>
      </div>
      <div class="content social-media">
        <a href="https://www.linkedin.com/in/vedant-sagar-4775531a5/"
          ><i class="fab fa-linkedin fa-4x"></i
        ></a>
      </div>
      <div class="content github">
        <a href="https://github.com/vhack21/vhack21">
          <i class="fab fa-github fa-4x"></i>
        </a>
      </div>
    </div>
  </div>
    <div id="main">
      <div id="pic">
        <img src="/images/img1.jpeg" alt="x" />
        <h1 style="color: black">Hi! I'm Vedant</h1>
      </div>
      <div id="perspective">
        <div class="container">
          <div class="content skills">
            <h3>Skills</h3>
            <ul>
              <li>
                <i class="fab fa-html5 fa-2x"></i>
                <span class="tec">&nbsp;HTML</span>
              </li>
              <li>
                <i class="fab fa-css3 fa-2x"></i
                ><span class="tec">&nbsp;CSS</span>
              </li>
              <li>
                <i class="fab fa-js fa-2x"></i
                ><span class="tec">&nbsp; JS</span>
              </li>
              <li>
                <i class="fas fa-code fa-2x"></i
                ><span class="tec">&nbsp;C++,Java,Python</span>
              </li>
              <li></li>
              <li></li>
            </ul>
          </div>
          <div class="content contact">
            <h3>Contact</h3>
            <ul>
              <li>
                <i class="fas fa-address-book fa-2x"></i
                ><span class="tec">&nbsp;7321836181</span>
              </li>
              <br />
              <li>
                <i class="fas fa-at fa-2x"></i>
                <span class="tec">&nbsp;vedantsagar12@gmail.com</span>
              </li>
            </ul>
          </div>
          <div class="content about">
            <h3>About</h3>
            <h5>
              As a teenager at school, I was the kid other students approached
              about issues with their phone or laptop. I was the go-to guy for
              fixing resolving any technical problems. Today, not much has
              changed. I’m still the first point of call for technical issues.
              The difference is I now wants to develop innovative software to
              solve the problems of multinational companies. Currently I'm Doing
              My BTECH in ECE and Also Pursuing Minor in CSE from BIRLA
              INSTITUTE OF TECHNOLOGY,MESRA.
            </h5>
          </div>

          <div class="content social-media">
            <a href="https://www.linkedin.com/in/vedant-sagar-4775531a5/"
              ><i class="fab fa-linkedin fa-4x"></i
            ></a>
          </div>
          <div class="content github">
            <a href="https://github.com/vhack21/vhack21">
              <i class="fab fa-github fa-4x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="foot">
      <img src="/images/footer.jpg" alt="" />
    </div>
  </body>
</html>
